*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container{
    max-width: 1195px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

header{
    background: #6e78b7;
    padding: 55px 0;
}

header .menu{
    display: flex;
    justify-content: space-around;
}

header .menu a{
    width: 260px;
    background: #d86a43;
    text-align: center;
    padding: 14px 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fefcfc;
    box-shadow: 0 0 10px -1px #000;
}

header .menu a:hover{
    box-shadow: none;
    background: #e44d26;
}
.left-link {
    margin: 0 auto 0 0;
}
.right-link {
    margin: 0 0 0 auto;
}
main{
    background: #deeafb;
    padding: 55px 0 80px;
}

.technology{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.technology img{
    width: 360px;
    height: 200px;
}

.technology .arrow{
    width: 41px;
    height: 22px;
}

.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img{
    width: 360px;
    height: 230px;
    margin-bottom: 35px;
}

.news article{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px 25px 15px 7px;
    margin-bottom: 40px;
}

.news article img{
    width: 340px;
    height: 225px;
    margin-right: 55px;
}

.news article .description{
    color: #511a99;
    font-size: 16px;
    width: 760px;
}

.news article:nth-child(even) img{
    order: 1;
    margin-right: 0;
    margin-left: 55px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.cards .card{
    width: 400px;
    min-height: 425px;
    background: #6e78b7;
    color: #fefcfc;
    box-shadow: 0 0 10px -1px #000;
    font-size: 18.5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.cards .card h3{
    background: #d86a43;
    margin: 0;
    padding: 25px 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.cards .card .description{
    padding: 35px 40px 0 40px;
}

.cards .card .description p{
    margin: 0;
    line-height: 1.5;
}

.cards .card .btn{
    width: 260px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #d86a43;
    border: none;
    display: block;
    margin: auto auto 0;
    border-radius: 8px;
    padding: 14px 0;
    box-shadow: 0 0 10px -1px #000;
}

footer{
    background: #6e78b7;
    font-size: 21px;
    color: #fefcfc;
    text-align: center;
    padding: 110px 0 105px;
}

footer p{
    margin: 0;
}

@media (max-width: 1200px){
    
.technology{
    flex-direction: column;
}

.technology img{
    max-width: 620px;
    width: 100%;
    height: auto;
    max-height: 315px;
}

.technology .arrow{
    display: none;
}

}

@media (max-width: 768px){
    header .menu{
        flex-direction: column;
        align-items: center;
    }
    header .menu a{
        width: 90%;
        margin-bottom: 45px;
    }
}